
[Desktop Entry]

Type=Application

Name=Looking Glass

Comment=Shared Memory vm spice viewer

Path=/home/dione/repos/LookingGlass/client/build

Exec=/home/dione/repos/LookingGlass/client/build/looking-glass-client

Icon=/home/dione/Programs/looking_glass/looking-glass-icon.png

Terminal=false

Catagories=Utilities
